<!DOCTYPE html>
<html>

<head>
  <title>eShop</title>
  <link rel="stylesheet" href="css/style.css">

</head>

<body class="page">
  <div id="app">
    <header class="header">
      <div class="container center-sb">
        <div class="logo">
          <a href="#"><img src="img/logo_baby.jpg" alt="" width="318" height="80"></a>
        </div>
        <form action="#" method="GET" class="search">
          <input v-model="searchLine" class="search__input" type="text" placeholder="Поиск">
          <img class="search__btn-remove" @click="clearSearchLine" src="img/clear.png" alt="Стереть">
          <!-- <svg class="icon-search">
          <use xlink:href="img/sprite.svg#clear"></use>
        </svg> -->
          <button class="search__btn" @click="filterGoods()">
            <img src="img/search.png" alt="Искать">
            <!-- <svg class="icon-search">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg> -->
          </button>
        </form>
        <a @click='show=!show' href="#cart-popup" class="cart-button">
          <img src="img/cart.png" alt="Корзина">
          <!-- <svg class="icon-card">
          <use xlink:href="img/sprite.svg#card"></use>
        </svg> -->
        </a>
      </div> <!-- end container -->
    </header>
    <main>
      <div class="container">
        <div class="products">
          <div class="products__item" v-for="item in filteredGoods">
            <img :src="imgCatalog" class="products__item-img" alt="Картинка товара">
            <h3 class="products__item-title">{{item.product_name}}</h3>
            <p class="products__item-text">{{item.price}}</p>
            <button class="products__item-btn">Add</button>
            <!-- <p>{{item.quantity}}</p> -->
          </div> <!-- end products__item -->
          <p v-if="ifNull">Соответствий не найдено</p>
        </div>
      </div>
    </main>

    <!-- +++++++++++++ Модальное окно карзины ++++++++++++++ -->
    <div id="cart-popup" class="cart-popup open" v-if="show">
      <div class="cart-popup__body">
        <div class="cart-popup__close" @click='show=!show'>
          <img src="img/close_x.png" alt="Закрыть модальное окно">
          <!-- <svg class="cart-popup__btn-close">
          <use xlink:href="img/sprite.svg#close-black"></use>
        </svg> -->
        </div>
        <h3 class="cart-popup__title">Моя корзина товаров</h3>
        <p class="cart-popup__text">Товаров: <span class="cart-popup__text-bold" id="countGoods"></span></p>
        <p class="cart-popup__text">на сумму: <span class="cart-popup__text-bold" id="amount"></span></p>

        <div class="cart-popup__content">
          <div class="cart-popup__list" v-for="item of filteredGoods">
            <img class="cart-popup__list-item" :src="imgCatalog" alt="Картинка товара">
            <h3 class="cart-popup__list-item">{{item.product_name}}</h3>
            <p class="cart-popup__list-item">{{item.price}}</p>
            <p class="cart-popup__list-item">{{item.quantity}}</p>
          </div>
        </div>
        <button class="cart-popup__btn-buy">Оформить заказ</button>
      </div> <!-- end cart-popup__body-->
    </div> <!-- end cart-popup-->

  </div> <!-- end #app -->

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/main.js" defer></script>

</body>

</html>